#one{
    background-color:teal;
    border: 4px solid black;
}

#two{
    background-color:teal;
    border: 2.5px solid black;
}

#three{
    background-color:teal;
    border: 1px solid black;
}
